<h1><%= @user.name %></h1>
Joined in <%= @user.created_at %><br>

<%= link_to "Edit", edit_user_path(@user) %> | <%= link_to "Destroy", user_path(@user), data: {
                                                                                    turbo_method: :delete,
                                                                                    turbo_confirm: "Are you sure?"
                                                                                } %>

<h2>About me</h2>
<p><%= @user.about %></p>
Last Modify at <%= @user.updated_at %>

<h2>Posts</h2>